<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723913284357-8sdicd0he3g2d8mangd9cnnkaq4vjkqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723913284357-8sdicd0he3g2d8mangd9cnnkaq4vjkqv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>723913284357-t8elqpuuo35cp7ct2hilruhlrqht1s89.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmdLuvB1cyHUJcRdE5yb5mxD_0wOk8E0o</string>
	<key>GCM_SENDER_ID</key>
	<string>723913284357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.climbing.flash</string>
	<key>PROJECT_ID</key>
	<string>flash-43a2b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-43a2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723913284357:ios:7ac98f0f50dfdec39a756c</string>
</dict>
</plist>